h1 {
  color: white;
}

h2 {
  color: white;
}

h3 {
  color: white;
}

p    {color:green;
}

body {
  background: url('/assets/lunar.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;;
  font-family: 'Raleway', sans-serif;
}

label {
  color: white;
}
